<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Fireflow-Simple-Demo</display-name>
	
	<!-- ======Spring相关配置========== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>fireflow-simple-demo</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>3000</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- ====Spring相关配置（结束）======= -->
	

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>org.fireflow.demo.security.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/demo/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/fireflow_client/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/fireflow_console/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/common/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>FireflowClientWidgetServlet</servlet-name>
		<servlet-class>org.fireflow.clientwidget.servlet.FireflowClientWidgetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FireflowClientWidgetServlet</servlet-name>
		<url-pattern>/FireflowClientWidgetServlet</url-pattern>
	</servlet-mapping>
		
  <servlet>
    <description></description>
    <display-name>FireflowResourceServlet</display-name>
    <servlet-name>FireflowResourceServlet</servlet-name>
    <servlet-class>org.fireflow.clientwidget.servlet.FireflowResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FireflowResourceServlet</servlet-name>
    <url-pattern>/FireflowResourceServlet/*</url-pattern>
  </servlet-mapping>		
		
	<servlet>
		<servlet-name>UploadDefinitionsServlet</servlet-name>
		<servlet-class>org.fireflow.console.servlet.repository.UploadDefinitionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadDefinitionsServlet</servlet-name>
		<url-pattern>/servlet/UploadDefinitionsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FireflowConfigServlet</servlet-name>
		<servlet-class>org.fireflow.console.servlet.config.FireflowConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FireflowConfigServlet</servlet-name>
		<url-pattern>/servlet/FireflowConfigServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListDefinitionsServlet</servlet-name>
		<servlet-class>org.fireflow.console.servlet.repository.ListDefinitionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListDefinitionsServlet</servlet-name>
		<url-pattern>/servlet/ListDefinitionsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkflowOperationServlet</servlet-name>
		<servlet-class>org.fireflow.web.app.servlet.WorkflowOperationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkflowOperationServlet</servlet-name>
		<url-pattern>/servlet/WorkflowOperationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BusinessTripServlet</display-name>
		<servlet-name>BusinessTripServlet</servlet-name>
		<servlet-class>org.fireflow.demo.biztrip.servlet.BusinessTripServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusinessTripServlet</servlet-name>
		<url-pattern>/servlet/BusinessTripServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.fireflow.demo.security.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OuManagementServlet</display-name>
		<servlet-name>OuManagementServlet</servlet-name>
		<servlet-class>org.fireflow.demo.ou_management.servlet.OuManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OuManagementServlet</servlet-name>
		<url-pattern>/servlet/OuManagementServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CommonApprovalInfoServlet</display-name>
		<servlet-name>CommonApprovalInfoServlet</servlet-name>
		<servlet-class>org.fireflow.demo.common.servlet.CommonApprovalInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonApprovalInfoServlet</servlet-name>
		<url-pattern>/servlet/CommonApprovalInfoServlet</url-pattern>
	</servlet-mapping>
</web-app>